openapi: 3.0.3
info:
  contact:
    email: api@telescopeoperations.com
  description: This is a sample server for Telescope Operations based on the OpenAPI
    3.0 specification. This API provides functionality to control telescope mount
    operations and retrieve astronomical data. For more detailed information and updates,
    refer to the API documentation.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://example.com/terms/
  title: CTN Telescope Operations API - OpenAPI 3.0
  version: 1.0.0
servers:
- url: https://open-development.com/api/v1
security:
- apiKeyAuth: []
tags:
- description: Operations for telescope control and data retrieval
  name: telescope
paths:
  /ctn/mount/{operation}:
    get:
      description: This endpoint allows for the execution of various mount operations
        on the telescope, such as 'track', 'slew', and 'halt'. The specific operation
        to be performed should be specified in the path parameter.
      operationId: executeMountOperation
      parameters:
      - description: The operation to be executed on the telescope mount
        explode: false
        in: path
        name: operation
        required: true
        schema:
          enum:
          - park
          - unpark
          - moveNorth
          - moveSouth
          - moveEast
          - moveWest
          - track
          - untrack
          - trackRate
          - maxRate
          - slew
          - setCoord
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Operation executed successfully
        "400":
          description: Invalid operation requested
        "500":
          description: Internal server error
      summary: Execute a telescope mount operation
      tags:
      - telescope
      x-accepts: application/json
components:
  schemas:
    inline_response_200:
      example:
        message: Operation has been executed successfully.
        status: success
      properties:
        status:
          example: success
          type: string
        message:
          example: Operation has been executed successfully.
          type: string
      type: object
  securitySchemes:
    apiKeyAuth:
      in: header
      name: X-API-Key
      type: apiKey

